```objc
NSDictionary *newObject = @{@"firstname": @"Jimmie", @"lastname": @"Barninger"};
[index addObject:newObject 
  success:^(ASRemoteIndex *index, NSDictionary *object, NSDictionary *result) {
  	NSLog(@"Object ID: %@", result[@"objectID"]);
} failure:nil];
```