```objc
NSDictionary *operation = @{
	@"value": @"MyTag",
	@"_operation": @"Add"
};
NSDictionary *partialObject = @{@"_tags": operation};
[index partialUpdateObject:partialObject objectID:@"myID" success:nil failure:nil];
```
