```objc
NSDictionary *newObject = [NSDictionary dictionaryWithObjectsAndKeys:@"Jimmie", @"firstname",
                                        @"Barninger", @"lastname", @"New York", @"city", nil];
[index saveObject:newObject objectID:@"myID" success:nil failure:nil];
```