```objc
NSMutableDictionary *operation = [NSMutableDictionary dictionary];
[operation set:Object:42 forKey:@"value"]
[operation set:Object:@"Increment" forKey:@"_operation"]
NSDictionary *partialObject = [NSDictionary dictionaryWithObjectsAndKeys:operation, @"price", nil];
[index partialUpdateObject:partialObject objectID:@"myID" success:nil failure:nil];
```
