```objc
NSDictionary *partialObject = [NSDictionary dictionaryWithObjectsAndKeys:@"San Francisco", @"city", nil];
[index partialUpdateObject:partialObject objectID:@"myID" success:nil failure:nil];
```
