```php
$res = $index->batch(array(
	array("action": "addObject", "indexName": "index1", "array("firstname" => "Jimmie", 
                                      "lastname" => "Barninger")),
	array("action": "addObject", "indexName": "index1", array("firstname" => "Warren", 
                                      "lastname" => "myID1"))));
```

