```php
$res = $index->partialUpdateObjects(array(array("firstname" => "Jimmie", 
                                                "objectID" => "SFO"),
                                          array("firstname" => "Warren", 
                                                "objectID" => "myID2")));
```

