```go
object := make(map[string]interface{})
object["firstname"] = "Jimmie"
object["lastname"] = "Barninger"
object["objectID"] = "myID"

objects := make([]interface{}, 1)
objects[0] = object
res, err := index.UpdateObjects(objects)
```