```go
// Get last 10 log entries
res, err := client.GetLogs(0, 10, false)
// Get last 100 log entries
res, err = client.GetLogs(0, 100, false)
// Get last 100 log errors
res, err = client.GetLogs(0, 100, true)
```