```go
index := client.InitIndex("contacts")
params := make(map[string]interface{})
res, err := index.Search("", params)
params["attributesToRetrieve"] = "firstname,lastname"
params["hitsPerPage"] = 20
res, err = index.Search("", params)
```