```go
index := client.InitIndex("contacts")
query := make(map[string]interface{})
res, err := index.Query(query)
query["attributesToRetrieve"] = "firstname,lastname"
query["hitsPerPage"] = 20
res, err = index.Query(query)
```