```go
// Search by firstname
res, err := index.Search("jimmie", nil)
// Search by firstname with typo
res, err = index.Search("jimie", nil)
// Search for a company
res, err = index.Search("california paint", nil)
// Search for a firstname & company
res, err = index.Search("jimmie paint", nil)
```