Without any prior configuration, you can start indexing [500 contacts](https://github.com/algolia/algoliasearch-client-csharp/blob/master/contacts.json) in the ```contacts``` index using the following code:
```go
index := client.InitIndex("contacts")
content, err := io.ReadFile("contact.json")
var jsonArray interface{}
err = json.Unmarshal(content, jsonArray)
res, err := index.AddObjects(jsonArray)
```