```go
query := make(map[string]interface{})
// Search by firstname
query["query"] = "jimmie"
res, err := index.Query(query)
// Search by firstname with typo
query["query"] = "jimie"
res, err = index.Query(query)
// Search for a company
query["query"] = "california paint"
res, err = index.Query(query)
// Search for a firstname & company
query["query"] = "jimmie paint"
res, err = index.Query(query)
```