 1. Import AlgoliaSearch using <code>import "TODO"</code>.
 2. Initialize the client with your ApplicationID and API-Key. You can find all of them on [your Algolia account](http://www.algolia.com/users/edit).

 ```go
 import "TODO"

 client := algoliasearch.NewClient("YourApplicationID", "YourAPIKey")
```