 1. Download AlgoliaSearch using <code>go get github.com/algolia/algoliasearch-client-go/algoliasearch</code>.
 2. Initialize the client with your ApplicationID and API-Key. You can find all of them on [your Algolia account](http://www.algolia.com/users/edit).

 ```go
 import "github.com/algolia/algoliasearch-client-go/algoliasearch"

 client := algoliasearch.NewClient("YourApplicationID", "YourAPIKey")
```