```go
object := make(map[string]interface{})
operation := make(map[string]interface{})
operation["value"] = 42
operation["_operation"] = "Decrement"
object["price"] = operation
object["objectID"] = "myID"
res, err := index.PartialUpdateObject(object)
```