```go
object := make(map[string]interface{})
object["firstname"] = "Jimmie"
object["lastname"] = "Barninger"
object["city"] = "New York"
object["objectID"] = "myID"
res := index.UpdateObject(object)
```