```swift
let obj1 = ["firstname": "Jimmie", "lastname": "Barninger", "objectID": "myID1"]
let obj2 = ["firstname": "Warren", "lastname": "Speach", "objectID": "myID2"]
index.saveObjects([obj1, obj2], block: { (JSON, error) -> Void in
	if error == nil {
		println("Object IDs: \(JSON)")
	}
})
```