```swift
let obj1 = ["firstname": "Jimmie", "objectID": "myID1"]
let obj2 = ["firstname": "Warren", "objectID": "myID2"]
index.partialUpdateObjects([obj1, obj2], block: { (JSON, error) -> Void in
	if error == nil {
		println("Object IDs: \(JSON)")
	}
})
```