```swift
let customRanking = ["desc(followers)"]
let settings = ["customRanking": customRanking]
index.setSettings(settings, block: { (JSON, error) -> Void in
	if let error = error {
		println("Error when applying settings: \(error)")
	}
})
```