To list existing keys, you can use `listUserKeys` method:
```swift
// Lists global API keys
client.listUserKeys(block: { (JSON, error) -> Void in
	if error == nil {
		println("User keys: \(JSON)")
	}
})
// Lists API keys that can access only to this index
index.listUserKeys(block: { (JSON, error) -> Void in
	if error == nil {
		println("User keys: \(JSON)")
	}
})
```