 1. [Download and add sources](https://github.com/algolia/algoliasearch-client-swift/archive/master.zip) to your project (you will also need to add [Alamofire](https://github.com/Alamofire/Alamofire) in your project) or use [Carthage](https://github.com/Carthage/Carthage) by adding `github "algolia/algoliasearch-client-swift"` in your Cartfile.
 2. Add the `import AlgoliaSearch` call to your project
 3. Initialize the client with your ApplicationID and API-Key. You can find all of them on [your Algolia account](http://www.algolia.com/users/edit).

```swift
let client = AlgoliaSearch.Client(appID: "YourApplicationID", apiKey: "YourAPIKey")
```

