```ruby
res = index.partial_update_objects([{"firstname" => "Jimmie", 
                                     "objectID" => "SFO"},
                                    {"firstname" => "Warren", 
                                     "objectID" => "myID2"}])
```
