```ruby
res = index.batch([
	{"action"=> "addObject", "indexName"=> "index1", "body": {"firstname" => "Jimmie", 
                          "lastname" => "Barninger"}},
    {"action"=> "addObject", "indexName"=> "index2", "body": {"firstname" => "Warren", 
                          "lastname" => "Speach"}}])
```

