```ruby
res = index.save_objects([{"firstname" => "Jimmie", 
                          "lastname" => "Barninger",
                           "objectID" => "myID1"},
                          {"firstname" => "Warren", 
                          "lastname" => "Speach",
                           "objectID" => "myID2"}])
```

