```ruby
# Get last 10 log entries
puts Algolia.get_logs.to_json
# Get last 100 log entries
puts Algolia.get_logs(0, 100).to_json
# Get last 100 errors
puts Algolia.get_logs(0, 100, true).to_json
```

