```javascript
index.partialUpdateObjects([{"firstname": "Jimmie", 
                             "objectID": "myID1"},
                            {"firstname": "Warren",
                             "objectID": "myID2"}], function(error, content) {
  console.log(content);
});

```

