```javascript
index.saveObjects([{"firstname": "Jimmie", 
                    "lastname": "Barninger",
                    "objectID": "myID1"},
                   {"firstname": "Warren",
                   "lastname": "Speach",
                    "objectID": "myID2"}], function(error, content) {
  console.log(content);
});
```

