```javascript
index.addObjects([{"firstname": "Jimmie", 
                   "lastname": "Barninger"},
                  {"firstname": "Warren",
                   "lastname": "Speach"}], function(error, content) {
  console.log(content);
});
```

