```javascript
// Creates a new global API key that is valid for 300 seconds
client.addUserKeyWithValidity(["search"], 300, 0, 0, function(error, content) {
    console.log("Key:" + content['key']);
});
// Creates a new index specific API key valid for 300 seconds, with a rate limit of 100 calls per hour per IP and a maximum of 20 hits
index.addUserKeyWithValidity(["search"], 300, 100, 20, function(error, content) {
    console.log("Key:" + content['key']);
});
```
