```java
Index index = client.initIndex("contacts");
index.searchASync(new Query("query string"), this);
index.searchASync(new Query("query string").
                  setAttributesToRetrieve(Arrays.asList("firstname", "lastname")).
                  setNbHitsPerPage(50), this);
```
