```javascript
// search by firstname
index.search('jimmie', function(error, content) {
  console.log(content.hits);
});
// search a firstname with typo
index.search('jimie', function(error, content) {
  console.log(content.hits);
});
// search for a company
index.search('california paint', function(error, content) {
  console.log(content.hits);
});
// search for a firstname & company
index.search('jimmie paint', function(error, content) {
  console.log(content.hits);
});
```


