 Add algolia-search by copying `algoliasearch-node.js` in you cloud directory 
```
cp $PATH_TO/algoliasearch-node.js $PATH_TO_MYPROJECT/cloud/
```
 Initialize the client with your ApplicationID and API-Key. You can find all of them on [your Algolia account](http://www.algolia.com/users/edit).

```javascript
var Algolia = require('cloud/algoliasearch-node');
var client = new Algolia('YourApplicationID', 'YourAPIKey');
```
