 Add Algolia Search by copying `src/algoliasearch-node.js` into your cloud directory. 
```
cp $PATH_TO/src/algoliasearch-node.js $PATH_TO_MYPROJECT/cloud/
```
 Initialize the client with your Application ID and API Key. You can find them on [your Algolia account](http://www.algolia.com/users/edit).

```javascript
var Algolia = require('cloud/algoliasearch-node');
var client = new Algolia('YourApplicationID', 'YourAPIKey');
```
