```csharp
var res = index.AddObject(JObject.Parse(@"{""firstname"":""Jimmie"", 
                                           ""lastname"":""Barninger""}"));
// Asynchronous
// var res = await index.AddObjectAsync(JObject.Parse(@"{""firstname"":""Jimmie"", 
                                                         ""lastname"":""Barninger""}"));

System.Diagnostics.Debug.WriteLine("objectID=" + res["objectID"]);           
```
