```csharp
var res = await index.AddObject(JObject.Parse(@"{""firstname"":""Jimmie"", 
                                                 ""lastname"":""Barninger""}"));
System.Diagnostics.Debug.WriteLine("objectID=" + res["objectID"]);           
```