```csharp
// Rename MyIndex in MyIndexNewName
client.MoveIndex("MyIndex", "MyIndexNewName");
// Asynchronous
// await client.MoveIndexAsync("MyIndex", "MyIndexNewName");
// Copy MyIndex in MyIndexCopy
client.CopyIndex("MyIndex", "MyIndexCopy");
// Asynchronous
await client.CopyIndexAsync("MyIndex", "MyIndexCopy");
``` 
