```csharp
var res = index.GetSettings();
// Asynchronous
// var res = await index.GetSettingsAsync();
System.Diagnostics.Debug.WriteLine(res);
```

```csharp
index.SetSettings(JObject.Parse(@"{""customRanking"":[""desc(followers)""]}"));
// Asynchronous
await index.SetSettingsAsync(JObject.Parse(@"{""customRanking"":[""desc(followers)""]}"));
```
