```csharp
System.Diagnostics.Debug.WriteLine(index.Search(new Query("or")));
// Asynchronous
// System.Diagnostics.Debug.WriteLine(await index.SearchAsync(new Query("or")));

System.Diagnostics.Debug.WriteLine(index.Search(new Query("jim")));
// Asynchronous
// System.Diagnostics.Debug.WriteLine(await index.SearchAsync(new Query("jim")));
```
