```csharp
await index.SetSettings(JObject.Parse(@"{""attributesToIndex"":[""lastname"", ""firstname"",
                                                                ""company"", ""email"", ""city""]}"));
```
