To list existing keys, you can use `listUserKeys` method:
```csharp
// Lists global API Keys
var keys = client.ListUserKeys();
// Asynchronous
// var keys = await client.ListUserKeysAsync();
// Lists API Keys that can access only to this index
keys = index.ListUserKeys();
// Asynchronous
// keys = await index.ListUserKeysAsync();
```
