To list existing keys, you can use `listUserKeys` method:
```csharp
// Lists global API Keys
var keys = await client.ListUserKeys();
// Lists API Keys that can access only to this index
keys = await index.ListUserKeys();
```