```csharp
index.PartialUpdateObject(JObject.Parse(@"{""_tags"":{""value"": ""MyTag"", ""_operation"": ""Remove"" },
								""objectID"":""myID""}"));
// Asynchronous
// await index.PartialUpdateObjectAsync(JObject.Parse(@"{""_tags"":{""value"": ""MyTag"", ""_operation"": ""Remove"" }, 
//                                                       ""objectID"":""myID""}"));
```