```csharp
index.PartialUpdateObject(JObject.Parse(@"{""price"":{""value"": 42, ""_operation"": ""Increment"" },
								""objectID"":""myID""}"));
// Asynchronous
// await index.PartialUpdateObjectAsync(JObject.Parse(@"{""price"":{""value"": 42, ""_operation"": ""Increment"" }, 
//                                                       ""objectID"":""myID""}"));
```
