```csharp
await index.SaveObject(JObject.Parse(@"{""firstname"":""Jimmie"", 
                                        ""lastname"":""Barninger"", 
                                        ""city"":""New York"",
                                        ""objectID"":""myID""}"));
```