```csharp
index.PartialUpdateObject(JObject.Parse(@"{""city"":""San Francisco"", 
                                           ""objectID"":""myID""}"));
// Asynchronous
// await index.PartialUpdateObjectAsync(JObject.Parse(@"{""city"":""San Francisco"", 
//                                                       ""objectID"":""myID""}"));
```
