```csharp
var res = index.AddObject(JObject.Parse(@"{""firstname"":""Jimmie"", 
                                           ""lastname"":""Barninger""}"), "myID");
// Asynchronous
// var res = await index.AddObjectAsync(JObject.Parse(@"{""firstname"":""Jimmie"", 
//                                                       ""lastname"":""Barninger""}"), "myID");
index.WaitTask(res["taskID"].ToString());
// Asynchronous
// await index.WaitTaskAsync(res["taskID"].ToString());
```
