```sh
echo '{ "requests":[{"action": "addObject", "body": { "firstname": "Jimmie", "lastname": "Barninger"} }, {"action": "addObject", "body": { "firstname": "Warren", "lastname": "Speach"} } ] }' > batch.json
algoliasearch-cmd.sh batch contacts batch.json
```
