Without any prior configuration, you can start indexing [500 contacts](https://github.com/algolia/algoliasearch-client-csharp/blob/master/contacts.json) in the ```contacts``` index using the following code:
```sh
./algoliasearch-cmd.sh batch contacts contacts.json
```
The contacts.json file is formated using our [batch format](http://www.algolia.com/doc/rest_api#Batch). The ```body```attribute contains the user object that can be any valid JSON.