```sh
# Creates a new global API key that is valid for 300 seconds
echo '{"acl": ["search"], "validity": 300}' > acl.json
algoliasearch-cmd.sh addACL acl.json
# Creates a new index specific API key valid for 300 seconds, with a rate limit of 100 calls per hour per IP and a maximum of 20 hits
echo '{"acl": ["search"], "validity": 300, "maxQueriesPerIPPerHour": 100, "maxHitsPerQuery": 20}' > acl.json
algoliasearch-cmd.sh addIndexACL indexName acl.json
```