 1. Download the [client](https://github.com/algolia/algoliasearch-client-cmd/archive/master.zip)
 2. Open `algoliasearch-cmd.sh` and change `API_KEY` and `APPLICATION_ID` with the values you can find in [your Algolia account](http://www.algolia.com/users/edit).

```sh
APPLICATION_ID="YourApplicationID"
API_KEY="YourAPIKey"
```