##### Default

```javascript
index.getObjects(['myObj1', 'myObj2'], function(success, content) {
 // iterate over content
});
```

##### jQuery

```javascript
index.getObjects(['myObj1', 'myObj2']).done(function(content) {
 // iterate over content
});
```

##### Angular.js

```javascript
index.getObjects(['myObj1', 'myObj2']).then(function(content) {
 // iterate over content
});
```
