```python
res = index.partial_update_objects([{"firstname": "Jimmie", 
                                   "objectID": "myID1"},
                                  {"firstname": "Warren", 
                                   "objectID": "myID2"}])
```

