```python
res = index.saveObjects([{"firstname": "Jimmie", 
                          "lastname": "Barninger",
                           "objectID": "myID1"},
                          {"firstname": "Warren", 
                          "lastname": "Speach",
                           "objectID": "myID2"}])
```

