```python
res = index.batch([
	{"action": "addObject", "indexName": "index1", {"firstname": "Jimmie", "lastname": "Barninger"}},
	{"action": "addObject", "indexName": "index2", {"firstname": "Warren", "lastname": "Speach"}}])
```

