```python
res = index.add_objects([{"firstname": "Jimmie", 
                         "lastname": "Barninger"},
                        {"firstname": "Warren", 
                         "lastname": "Speach"}])
```

